@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Madimi+One&family=Open+Sans:ital, wght@0.300..800;1.300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  background-color: #f2e3fc;
}

/* Estilos para o logo */
.logo {
  text-align: center;
  margin-top: 20px;
}

.logo img {
  width: 100px;
}

/* Estilos para o menu */
nav ul {
  list-style-type: none;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  background-color: rgba(250, 248, 248, 0.35);
  padding: 20px;
  border-radius: 50px;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #621091;
  font-weight: 600;
  background-color: rgba(250, 248, 248, 0.35);
}

nav ul li a:hover {
  color: #f5e4ff;
  background-color: #621091;
  border-radius: 6px;
  padding: 3px;
}

/* Estilos para o título destacado */
#destaque {
  padding: 100px;
  max-height: 800px;
  position: relative;
}

.imagem-fundo {
  position: absolute;
  top: 0;
  left: 20%;
  width: 400px;
  height: 400px;
  background: url("/assets/bg1.png") center/contain no-repeat;
  filter: brightness(1.2);
}

@media (max-width: 600px) {
  .imagem-fundo {
    position: relative;
    width: 100%;
    left: 0;
  }
}

#destaque h1 {
  color: #8919ca;
  text-align: left;
  margin-left: 41%;
  font-family: "Exo 2", sans-serif;
  font-weight: 800;
}

#destaque p {
  margin-left: 41%;
  text-align: left;
  color: rgb(27, 27, 27);
  font-family: "Open Sans", sans-serif;
  background-color: #e4bcfc;
  padding: 20px;
  border-radius: 6px;
}

#destaque button {
  margin-left: 41%;
}
/* Estilos para o botão */
button {
  font-size: 16px;
  position: relative;
  margin-top: 100px;
  margin-bottom: 200px;
  padding: 12px 20px;
  background-color: #8919ca;
  border-radius: 12px;
  color: white;
  border: none;
  cursor: pointer;
}

@media (max-width: 800px) {
  #destaque {
    position: relative;
    margin: 0;
  }

  #destaque p,
  #destaque h1 {
    text-align: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    margin: 0;
  }

  #destaque button {
    display: block;
    margin: 20px auto; /* Centraliza o botão horizontalmente e adiciona margem superior e inferior */
    padding: 12px 20px;
    background-color: #8919ca;
    border-radius: 12px;
    color: white;
    border: none;
    cursor: pointer;
  }
}

#ikigai .container {
  margin-top: 300px;
  margin-bottom: 200px;
  position: relative;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

/* Estilos para a galeria de imagens */
.galeria {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.imagem {
  top: 300px;
  position: relative;
  text-align: center;
}

.imagem img {
  width: 200px; /* Ajuste conforme necessário */
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.imagem p,
.imagem h1 {
  max-width: 200px;
  padding: 5px;
  text-align: center;
}

.imagem h1 {
  font-family: "Exo 2", sans-serif;
  font-weight: 800;
  color: #8919ca;
}

.imagem p {
  font-family: "Open Sans", sans-serif;
}

/* Estilos para o vídeo */
#video {
  text-align: center;
  margin-top: 400px;
}

/* Estilos para o mapa */
.mapa {
  text-align: center;
  margin-top: 20px;
}

/* Estilos para o formulário */
.formulario {
  text-align: center;
  margin-top: 20px;
}

.formulario input[type="text"],
.formulario input[type="email"] {
  width: 300px; /* Ajuste conforme necessário */
  margin-bottom: 10px;
  padding: 10px;
  border-color: #510280;
  border-radius: 6px;
}

.formulario input[type="submit"] {
  font-size: 16px;
  position: relative;
  padding: 12px 20px;
  background-color: #8919ca;
  border-radius: 12px;
  color: white;
  border: none;
  cursor: pointer;
}

/* Estilos para os círculos */
.circulo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid rgb(107, 3, 107);
  position: absolute;
  background-color: rgba(250, 248, 248, 0.35);
}

#circuloSuperior {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#circuloEsquerdo {
  top: 45%;
  left: calc(50% - 280px);
}

#circuloDireito {
  top: 45%;
  left: calc(50% + 40px);
}

#circuloInferior {
  top: calc(50% + 75px);
  left: 50%;
  transform: translateX(-50%);
}

/* Estilos para as palavras dentro dos círculos */
.palavra {
  position: absolute;
  font-weight: 700;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  text-orientation: upright;
  white-space: nowrap;
  color: #007bff;
}

.p1 {
  transform: rotate(55deg);
  /* left: 0%; */
  top: 65%;
} /* Paixão */

.p2 {
  transform: rotate(-60deg);
  top: 60%;
  left: 65%;
} /* Profissão */

.p3 {
  transform: rotate(55deg);
  top: 60%;
} /* Vocação */

.p4 {
  transform: rotate(-60deg);
  top: -10%;
  left: 70%;
} /* Missão */

.resposta1,
.resposta2,
.resposta3,
.resposta4 {
  width: 80%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: left;
}
.resposta1 {
  top: 25%;
  left: 60%;
  color: #8606cf;
}

.resposta2 {
  top: 40%;
  left: 45%;
  color: #8919ca;
}

.resposta3 {
  top: 40%;
  left: 75%;
  color: #6f04ad;
}

.resposta4 {
  top: 50%;
  left: 75%;
  color: #510280;
}

#centro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: black;
}

#map {
  height: 400px;
}

/* Estilos para o rodapé */
footer {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  background-color: #f0f0f0;
}
